* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.square {
    height: 50px;
    width: 50px;
    background-color: #ebe7e7;
    transition: background-color 0.05s ease-in-out;
}

.square:hover {
    background-color: #b1afaf;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}