* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding-top: 1rem;
    background-color: #313131;
}

#addGridBtn {
    display: block;
    margin-inline: auto;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 3px;
    transition: background-color 0.2s ease-in-out;
}

#addGridBtn:hover {
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    margin-inline: auto;
    width: 750px;
    height: 750px;
}

.square {
    background-color: #ebe7e7;
}

.painted {
    background-color: #b1afaf;
}
